{% extends 'base.html' %}

{% block content %}
    <h1>{{ playlist.title }}</h1>
    {% for track in playlist.tracks.all %}
        <div class="track">
            <img src="{{ track.images.first.image.url }}" alt="{{ track.title }} cover image">
            <div class="track-info">
                <h3>{{ track.title }}</h3>
                <audio controls class="track-audio">
                    <source src="{{ track.audio_file.url }}" type="audio/mpeg">
                    Your browser does not support the audio tag.
                </audio>
                <p>Artist: <a href="#">{{ track.artist.name }}</a></p>
            </div>
        </div>
    {% endfor %}
{% endblock %}