{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
    <section class="tracks">
        <h2>Треки в категории: {{ category.name }}</h2>
        <div class="track-list">
            {% for track in tracks %}
            <div class="track">
                <img src="{{ track.cover_image.url }}" alt="{{ track.title }} cover image">
                <div class="track-info">
                    <h3>{{ track.title }}</h3>
                    <p>Artist: <a href="#">{{ track.artist.name }}</a></p>
                    <audio controls>
                        <source src="{{ track.audio_file.url }}" type="audio/mpeg">
                        Your browser does not support the audio tag.
                    </audio>
                </div>
            </div>
            {% empty %}
            <p>Нет доступных треков в этой категории.</p>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}
