{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="track-container">
    <div class="track-cover">
        <img src="{{ track.images.first.image.url }}" alt="{{ track.title }} cover image">
    </div>
    <div class="track-details">
        <h2 class="track-artist">{{ track.artist.name }}</h2>
        <p class="track-category">{{ track.title }}</p>
        <audio controls class="track-audio">
            <source src="{{ track.audio_file.url }}" type="audio/mpeg">
            Your browser does not support the audio tag.
        </audio>
    </div>
</div>
{% endblock %}
