@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik+Wet+Paint&display=swap');

* {
    padding: 0;
    margin: 0;
    /* outline: 2px solid green !important; */
}

html {height: 100%;}
button {cursor: pointer;}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    width: 100%;
    height: auto;
    padding: 50px;
    font-weight: 300;
    background: url('../images/background.jpg.avif') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}

.body-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #181818;
    border-radius: 10px;
    -webkit-box-shadow: 0px 20px 50px 7px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 20px 50px 7px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 20px 50px 7px rgba(0, 0, 0, 0.6);
    overflow: hidden;
}

/* ----------------------Стили для шапки сайта--------------------- */
.header {
    width: 100%;
    min-height: 50px;
    height: auto;
    padding: 20px;
    flex: 0 0 auto;
    color: aliceblue;
}

.header-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.auth, .logo-div {align-self: center;}

.logo {
    text-shadow: 5px 4px 4px black;
    transition: all 1s ease;
    margin: 0;
}

.logo:hover{
    transform: scale(1.1);
    text-shadow: 2px 2px 4px black;
}

/* ----------------------------Стили для блока маин ----------------------*/
.music-background {
    width: 100%;
    height: 350px;
    border: none;
    margin: 0; /* Сбрасываем отступы */
    padding: 0; /* Сбрасываем поля */
    background: url('../images/music.png') no-repeat center center; 
    background-size: cover; /* Изображение занимает весь контейнер */
    z-index: 10;
}

/* .main {
    padding: 30px;
    display: flex;
    flex: 1 0 auto;
    
} */

/* ----------------------------Стили для футера-------------------------- */

footer {
    background-color: rgba(0, 0, 0, 0.4);
    flex: 0 0 auto;
    width: 100%;
    height: auto;
}

.footer {
    margin: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.footer > div {
    flex: 1;
}

.footer div > span {color:white}

.about-contacts {text-align: end;}

.about-contacts a {margin-left: 5px;}

.social ul {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .item a {
    width: 32px;
    height: 32px;
    background-color: #f0f9fe;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    border: 2px solid #f0f9fe;
    overflow: hidden;
  }

  .item a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: 0;
    scale: 1 0;
    transform-origin: bottom;
    transition: scale 0.3s linear;
  }

  .item:hover a::before {scale: 1 1;}

  .social-icon {
    font-size: 24px;
    color: hsl(203, 92%, 8%);
    transition: 0.5s ease;
    z-index: 2;
  }

  .item a:hover .social-icon {
    color: #fff;
    transform: rotateY(360deg);
  }

  .item:nth-child(1) {
    --bg-color: linear-gradient(to bottom right, #f9ce34, #ee2a7b, #6228d7);
  }
  .item:nth-child(2) {
    --bg-color: #0077b5;
  }
  .item:nth-child(3), .social-auth .item {
    --bg-color: #000000;
  }
  .item:nth-child(4) {
    --bg-color: #4ea7ec;
  }

/* -----------------Стили для системы авторизации, регистрации...------------------- */
form {
    margin: 30px;
    padding: 10px;
    background: url('../images/background_form.jpg') no-repeat center center;
    background-size: cover;
    border-radius: 10px; 
    overflow: hidden;
    -webkit-box-shadow: 0px 10px 50px 7px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 10px 50px 7px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 10px 50px 7px rgba(0, 0, 0, 0.6);
}

form h1 {
    margin-bottom: 30px;
    margin-left: 0px;
    font-weight: 300;
    text-align: center;
    color: #000;
}

form p {
    height: 35px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 18px;
    flex-wrap: nowrap;
}

form p label {
    flex: 1;
    text-align: center;
    align-self: center;
    color: #fff;
    white-space: nowrap;
    border: 1px solid silver;
    border-radius: 20px;
    margin-right: 20px !important;
    padding: 3px;
    background-color: #3333337b;
}

form p input, form p textarea {
    flex: 2;
    border: none;
    border-radius: 20px;
    border: none;
    text-align: center;
}

form p select {
    min-width: 220px;
    width: 321px;
    max-width: 321px;
    height: 35px !important;
    border-radius: 10px;
    color: #000;
}

form hr {margin: 10px 0px;}

form .link-form {
    text-align: start;
}

form a:hover, .change-password a:hover {text-shadow: 1px 1px 5px white;}

.form-error {
    color: rgb(255, 0, 0);
    white-space: nowrap;
    font-size: 18px;
}

.form-button {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

.user-form-block {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.profile {
    min-width: 350px;
    width: 500px;
    height: auto;
    border-radius: 5px;
    text-align: center;

}

.profile form, .user-form form {border: 1px solid #000;}

.profile-image {
    text-align: center;
    width: 100%;
    height: auto;
}

.profile-image img {
    width: 150px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    margin-bottom: 20px;
    object-fit: cover;
}

#id_date_birth_year, 
#id_date_birth_month, 
#id_date_birth_day {
    min-width: 60px;
    width: 107px;
    max-width: 107px;
    height: 35px;
    flex-wrap: wrap;
    text-align-last: center;
    border-radius: 20px; 
    padding: 0 5px; 
    appearance: none; 
}

input[type="file"] {display: none;}

.profile form p:first-of-type label {
    margin: 0 !important;
    text-align: center;
    width: 100%;
    transition: all .3s;
    cursor: pointer;
}

.profile form p:first-of-type label:hover {background: linear-gradient(45deg, #3f0101c2, #c62020d2);}


#id_gender {
    flex: 2;
    text-align-last: center;
    width: 321px;
    max-width: 321px;
    height: 35px;
    border-radius: 20px;
    appearance: none;
}

.profile form button {
    width: 120px;
    font-size: 16px;
    transition: all .5s;
}

.user-form {
    min-width: 350px;
    width: 500px;
    height: auto;
    border-radius: 5px;
    text-align: center;
}

.change-password {
    width: auto;
    background-color: rgba(0, 0, 0, .6);
    border: 1px solid black;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
}

.change-password a {
    color: #740202;
    font-weight: 400;
}

.errorlist {
    /* font-display: flex; */
    width: 100%;
    text-wrap: wrap;
    margin-bottom: 10px;
    color: #cf0000;
}
/*--------------*/
form button {
    padding: 5px 10px;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 15px;
    border: none;
    background: linear-gradient(45deg, #740202, #ff4747);
    color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
}

form button:hover {
    background: linear-gradient(45deg, #ff4747, #740202);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
}

form h1 {
    font-size: 28px;
    color: #e0e0e0;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}

form p label {
    color: #cfcfcf;
    font-size: 18px;
}

form p input:focus, form p textarea:focus {
    /* border: 1px solid #ff4747; */
    background: rgba(78, 78, 78, 0.1);
    box-shadow: 0 0 8px rgba(255, 71, 71, 0.4);
    color: #ffffff;
}


/* -------------------Стили для главной страницы------------------------ */
h1 {
    color: #c7c7c7;
}

.categories {
    padding: 20px;
    background-color: #181818;
    position: relative;
}

.category-link.active {
    font-weight: bold; /* Делаем текст жирным */
    color: #007bff; /* Изменяем цвет текста */
}

.categories h2 {
    font-size: 50px;
    color: #ffffff;
    text-shadow: 3px 4px 10px silver;
    position: absolute;
    top: -50px;
    z-index: 111;
}

.categories ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px; /* Расстояние между категориями */
    overflow-x: auto; /* Горизонтальная прокрутка */
    scrollbar-width: thin; /* Для Firefox */
    -ms-overflow-style: none; /* Для Internet Explorer и Edge */
}

.categories ul::-webkit-scrollbar {
    height: 8px; /* Высота скроллбара */
}

.categories ul::-webkit-scrollbar-thumb {
    background: #888; /* Цвет ползунка */
    border-radius: 10px; /* Закругление ползунка */
}

.categories ul::-webkit-scrollbar-thumb:hover {
    background: #555; /* Цвет ползунка при наведении */
}

.categories ul::-webkit-scrollbar-track {
    background: #f1f1f1; /* Цвет трека скроллбара */
    border-radius: 10px;
}

.category-item {
    text-align: center;
}

.category-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-image {
    width: 120px; /* Ширина изображений */
    height: 120px;
    margin: 10px;
    transition: all 0.3s;
}

.category-link {
    margin-top: 10px; /* Отступ между изображением и названием */
    text-decoration: none;
    font-size: 18px;
    color: #d3d3d3; /* Цвет текста */
}

.category-item:hover a {
    color: #b10000;
}
/* Активное состояние ссылки (можно также добавить выделение) */
.category-link.active {
    font-weight: bold;
    color: red;
}

.category-item .category-link.active .category-image {
    /* Увеличиваем тень для активного элемента */
    filter: drop-shadow(0 0 5px rgb(219, 0, 0));
}

.tracks {
    padding: 20px;
}

.tracks h2 {
    color: #a8a8a8;
}

.track-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.track {
    min-width: 200px;
    width: 200px;
    min-height: 320px;
    height: 350px; 
    background-color: #282828;
    border-radius: 10px;
    overflow: hidden; 
    display: flex;
    flex-direction: column; /
}

.track img {
    width: 100%;
    height: 70%; 
    object-fit: cover; 
    border-radius: 10px 10px 0 0; 
}

.track-info {
    text-align: center;
    flex-grow: 1; 
    padding: 10px; 
    color: white; 
}

.track-info h3 {
    margin: 0; 
    margin-bottom: 10px;
}

audio {
    width: 100%; 
    margin-top: 10px; 
    border-radius: 2px;
}


/* --------------------------Страница КОНТАКТЫ----------------------------- */

.contacts {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.contacts-info, .contacts-map {
   width: 550px;
   height: 400px;
   color: #fff;
}

.contacts-info {padding: 10px;}

.contacts-info ul {
    font-size: 22px;
    margin-bottom: 20px;
}

.contacts-info ul li {
    font-size: 16px;
    margin-left: 30px;
}

.contacts-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.contacts-logo img {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

.contacts-logo span {
    position: relative;
    top: 10px;
    font-size: 30px;
    align-self: flex-end;
}

.contacts-map img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.feedback-block {
    position: absolute;
    bottom: 60px;
    right: 0;
}

.feedback {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: all 0.4;
    text-align: end;
}

.feedback img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.feedback-form form {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 320px;
}

.feedback-form form .errorlist {
    color: #ff0000;

}

.feedback-form form p {height: auto;}

.feedback-form .form-button {
    width: 100%;
    position: absolute;
    bottom: 15px;
}

.feedback-form .form-button button {margin: 10px 0 0 0;}
.feedback-form .form-button button:hover {box-shadow: none !important;}

.feedback-form form p textarea {
    resize: none;
    height: 100px;
    box-sizing: border-box;
}

.message {
    position: absolute;
    z-index: 10;
    background-color: #1faa00;
    color: #000;
    font-weight: 20px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 20px 30px;
}

/* -------------- DETAIL TRACK --------------*/
.track-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181818;
    border-radius: 10px;
    padding: 50px 0;
}

.track-cover img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.track-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 600px;
    margin-left: 20px;
}

.track-artist {
    font-size: 28px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.track-category {
    font-size: 18px;
    font-weight: 300;
    color: #aaa;
    margin-bottom: 20px;
}

.track-audio {
    width: 300px;
    margin-top: 20px;
    background-color: #333;
    border-radius: 5px;
}

.track-duration {
    font-size: 16px;
    color: #ddd;
    margin-top: 10px;
    background-color: #000;
} 

